In [7]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('/Users/jasminechen/Downloads/appstore_games.csv')
df.shape

(17007, 18)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17007 entries, 0 to 17006
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   URL                           17007 non-null  object
 1   ID                            17007 non-null  int64
 2   Name                          17007 non-null  object
 3   Subtitle                      5261 non-null   object
 4   Icon URL                      17007 non-null  object
 5   Average User Rating           7561 non-null   float64
 6   User Rating Count             7561 non-null   float64
 7   Price                         16983 non-null  float64
 8   In-app Purchases              7683 non-null   object
 9   Description                   17007 non-null  object
 10  Developer                     17007 non-null  object
 11  Age Rating                    17007 non-null  object
 12  Languages                     16947 non-null  object
 13  Size                          17006 non-null  float64
 14  Primary Genre                 17007 non-null  object
 15  Genres                        17007 non-null  object
 16  Original Release Date         17007 non-null  object
 17  Current Version Release Date  17007 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.3+ MB

In [4]:
# fill In-app Purchases with 1 for valid values, 0 for nans
df['In-app Purchases']=df['In-app Purchases'].apply(lambda x: 0 if pd.isnull(x) else 1)
df['In-app Purchases']

0        0
1        0
2        0
3        0
4        0
        ..
17002    0
17003    0
17004    0
17005    1
17006    0
Name: In-app Purchases, Length: 17007, dtype: int64

In [5]:
# regex removing Games, Strategy
df['Sub_Genres']=df['Genres'].apply(lambda x: x.replace('Games','').replace('Strategy','')).astype(str)
df['Sub_Genres']

0                       , , Puzzle
1                        , , Board
2                        , Board,
3                       , , Puzzle
4             , , Board, Education
                   ...
17002    , Entertainment, Casual,
17003                   , Family,
17004                           ,
17005                   , , Action
17006                   , , Puzzle
Name: Sub_Genres, Length: 17007, dtype: object

In [8]:
# regex only fetch the first sub-genre
df['Sub_Genres']=df['Sub_Genres'].apply(lambda x: re.match(r'\W*(\w[^,. !?"]*)', x).groups()[0] if re.match(r'\W*(\w[^,. !?"]*)', x) is not None else 'Others')
df['Sub_Genres']

0               Puzzle
1                Board
2                Board
3               Puzzle
4                Board
             ...
17002    Entertainment
17003           Family
17004           Others
17005           Action
17006           Puzzle
Name: Sub_Genres, Length: 17007, dtype: object

In [9]:
df[['Genres','Sub_Genres']]

                                       Genres     Sub_Genres
0                     Games, Strategy, Puzzle         Puzzle
1                      Games, Strategy, Board          Board
2                      Games, Board, Strategy          Board
3                     Games, Strategy, Puzzle         Puzzle
4           Games, Strategy, Board, Education          Board
...                                       ...            ...
17002  Games, Entertainment, Casual, Strategy  Entertainment
17003                 Games, Family, Strategy         Family
17004                         Games, Strategy         Others
17005                 Games, Strategy, Action         Action
17006                 Games, Strategy, Puzzle         Puzzle

[17007 rows x 2 columns]

In [76]:
df.to_csv('/Users/jasminechen/Downloads/appstore_games_cleaned.csv')